<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h2 text-gray-800 text-center">
    CS 746 - Software Modeling and Analysis
  </h1>
  <h1 class="h2 text-gray-800 text-center">Spring 2021</h1>
  <h1 class="h3 text-gray-800 text-center">Papers for presentation</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold">
        S.No. Paper title Selected by Icon to click for selecting the paper
      </h6>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <div *ngIf="papers != undefined && papers.length > 0; else elseBlock">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Paper Title</th>
                <th>Student Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paper of papers">
                <td>{{ paper.id }}</td>
                <td>
                  <a [href]="paper.url" [download]="paper.title">
                    <div style="overflow: auto">
                      {{ paper.title }}
                    </div>
                  </a>
                </td>

                <td>
                  {{ paper.studentName }}
                </td>
                <td>
                  <button
                    href="#"
                    class="btn btn-warning btn-circle"
                    (click)="setUpdateId(paper.id); setUpdateTitle(paper.title)"
                    data-toggle="modal"
                    data-target="#updateModal"
                    [disabled]="paper.selected && paper.studentName !== ''"
                  >
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <ng-template #elseBlock>
          <div class="alert alert-danger">No papers provided.</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- Update Modal-->
<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Select Paper {{ updateId }} : <strong>{{ updateTitle }}</strong>
        </h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="update()">
          <div class="form-group">
            <select
              class="form-control"
              name="studentName"
              [(ngModel)]="studentName"
            >
              <option *ngFor="let name of names" [ngValue]="name.name">
                {{ name.name }}
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="alert-danger" [hidden]="studentName !== undefined">
          Please select your name.
        </div>

        <div class="alert-warning" [hidden]="studentName === undefined">
          Please confirm that you are {{ studentName }}.
        </div>

        <div class="alert-success">{{ updateSuccess }}</div>

        <button
          class="btn btn-secondary"
          type="button"
          data-dismiss="modal"
          #closeUpdateModal
          data-toggle="collapse"
        >
          Cancel
        </button>
        <button
          [disabled]="studentName === undefined"
          class="btn btn-primary btn-user"
          style="color: #fff"
          data-toggle="collapse"
          type="submit"
          #closeUpdateModal
          (click)="update()"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
<!--/ Update modal -->
